---
layout: default
sitemap:
  lastmod: 2023-04-10
  exclude: 'no'
---

<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
</head>
<body>
	<!-- include the profile.html file -->
	{% include profile.html %}

	<!-- the rest of your website content -->
	<h1>Welcome to my website</h1>
	<p>Here you can find information about me and my work.</p>
</body>
</html>
	
<!-- News and Twitter timeline -->
<div style="display: flex;">
  <div style="flex: 1; margin-right: 50px;">
    <h2>News</h2>
    <ul>
      {% for post in site.posts %}
      <li><span style="font-weight: bold;">{{ post.date | date: "%Y-%m-%d" }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div style="width: 220px;">
    <a class="twitter-timeline"
       href="https://twitter.com/MoFathiAbdallah?ref_src=twsrc%5Etfw"
       data-tweet-limit="4"
       data-width="250"
       data-height="350"
       data-align="right">
      Tweets by MoFathiAbdallah
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<!-- Announcement -->
<div>
  <h2>Announcements</h2>
  <hr />
  <div style="display: flex;">
    <div style="flex: 1; margin-right: 50px;">
      <h3 style="margin-bottom: 0;">01 December 2022</h3>
      <p style="margin-top: 0;">A new Special Issue in collaboration with Dr. Elisabeth Varga, Dr. Mohamed Fathi Abdallah, and Dr. Shupeng Yang 🤝</p>
      <p style="margin-top: 0;">"<a href="https://lnkd.in/g3-kW8dY" target="_blank" style="color:#ffefd5;">Current Research on Mycotoxins in Food and Feed: From Detection and Unravelling of Toxicity to Control</a>"</p>
      <p style="margin-top: 0;">More information at: <a href="https://lnkd.in/g3-kW8dY" target="_blank">https://lnkd.in/g3-kW8dY</a></p>
      <p style="margin-top: 0;">#toxicology #mycotoxins #open_access</p>
    </div>
    <div>
      <img src="/images/Special-issue-toxins.png" alt="Special issue" style="width: 450px;">
    </div>
  </div>
</div>

