$font-size: calc(0.8rem + 0.2vw) !default;
$font-weight: 400 !default;
$font-family: "PT Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif !default;
$heading-weight: 600 !default;
$line-height: 1.6 !default;
$link-color: #b3b3b3 !default;
$dark: #63767a !default;
$light: #080808 !default;

@mixin dark-mode {
  --background-color: $dark;
  --text-color: #fff;
}

@mixin light-mode {
  --background-color: $light;
  --text-color: #333;
}

@mixin theme {
  background-color: var(--background-color);
  color: var(--text-color);
  a {
    color: $link-color;
    &:hover {
      color: lighten($link-color, 20%);
    }
  }
}

html {
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-weight;
}

body {
  @include theme;
}

@media (prefers-color-scheme: dark) {
  @include dark-mode;
  body {
    @include theme;
  }
}

@media (prefers-color-scheme: light) {
  @include light-mode;
  body {
    @include theme;
  }
}
