/* Set the background color to a dark gray */
body {
  background-color: #1c1c1c;
  color: #fff;
}

/* Change the color of the links */
a {
  color: #8fa8db;
}

/* Change the color of the headings */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}
